/*全局样式修改*/
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body{
	/*position: relative;*/
	background-color: #f5f5d5;
	/*overflow: hidden;*/
}
a{
    color: #4682BE;
    text-decoration: none;
}
li ul{
	list-style-type: none;
	padding-left: 0;
}
/*高亮样式优化*/
.content p code, .content li>code, .content h2>code, .content h3>code{
	padding-left: 3px;
    padding-right: 3px;
    color: #c7254e;
    background: #f9e6e6;
}
.content pre{
	border: 1px solid #708090;
}
/*居中显示*/
.wrap{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.wrap-pc{
	box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
}
/*侧边栏样式*/
.aside{
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.aside.aside-pc{
	width: 260px;
	border-right: 1px solid #CCC;
}
.aside.aside-mobie{
	right: 0;
	bottom: 40px;
}
.icp-content {
    display: none;
    text-align: center;
}
.aside-pc .icp-content{
    background: #f5f5d5;
    position: fixed;
    left: 10px;
    bottom: 0;
    padding-bottom: 10px;
    width: 250px;
}
.icp-link{
    color: #000000;
    font-size: 14px;
}
/*内容区样式*/
.content{
	position: absolute;
	right: 0;
	top: 0;
	overflow-y: auto;
}
.content.content-pc{
	left: 280px;
	padding: 8px 60px 0 20px;
	bottom: 0;
}
.content.content-mobie{
	padding: 10px;
	bottom: 40px;
	overflow-x: hidden;
}
.content h1{
	font-size: 26px;
}
/*侧边目录样式*/
.aside h1{
	font-size: 24px;
	cursor: pointer;
}
.aside h2{
	font-size: 20px;
	cursor: pointer;
}
.aside ol ol{
	list-style-type: lower-alpha;
	list-style-position: outside;
}
.aside-pc ol{
	line-height: 24px;
	font-size: 16px;
}
.aside-mobie ol{
	font-size: 18px;
	line-height: 36px;
}
/*pc端快捷键*/
.keyboard-pc{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 20px;
	height: 203px;
	line-height: 40px;
	width: 40px;
	font-size: 12px;
	text-align: center;
	background-color: #ccc;
	opacity: 0.6;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}
.keyboard-pc .button:hover{
	background-color: #999;
}
.keyboard-pc .button{
	border-top: #999 1px solid;
}
.keyboard-pc #top{
	border-top: none;
}
/*移动端快捷键*/
.keyboard-mobie{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 40px;
	display: flex;
	cursor: pointer;
	background-color: #ccc;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	-webkit-tap-highlight-color: transparent;
}
.keyboard-mobie .button{
	flex: 1;
	line-height: 40px;
	text-align: center;
	border-right: 1px solid #999;
}
.keyboard-mobie .top{
	border-left: 1px solid #999;
}
/*滚动条优化*/
.scroll.scroll-pc::-webkit-scrollbar{
    width: 10px;    
    height: 10px;
}
.scroll.scroll-pc::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.scroll.scroll-pc::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.content-pc pre::-webkit-scrollbar{
    width: 8px;    
    height: 8px;
}
.content-pc pre::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.content-pc pre::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
/*文章样式优化*/
.li-link{
	cursor: pointer;
}
.h-link{
	cursor: pointer;
}
.content-top{
	line-height: 24px;
	background-color: #CCC;
	padding: 20px 20px 20px 50px;
	border-radius: 5px;
	color: #4682BE;
	font-size: 16px;
}
